@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/assets/fonts/Montserrat-VariableFont_wght.woff2');
    font-weight: 100 900;
}

:root {
    font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
html {

    margin: 0;
    padding: 0;
}