@font-face {
    font-family: 'Montserrat';
    src: url('../../shared/assets/fonts/Montserrat-VariableFont_wght.woff2');
    font-weight: 100 900;
}

@font-face {
    font-family: 'GoogleSans';
    src: url('../../shared/assets/fonts/GoogleSans-VariableFont_GRAD\,opsz\,wght.woff2');
    font-weight: 100 900;
}

:root {
    font-family: "Montserrat";
    background-color: #a4a4a4;


}

a {
    color: #ddf;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
html {

    margin: 0;
    padding: 0;
}