.button {
    background-color: rgba(255, 255, 255, 0.0);
    // box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 4px rgba(255, 255, 255, 0.9);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border: 1px solid #0003;
    font-weight: 600;
    font-family: "Montserrat";
    color: #ffffff;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
    width: fit-content;
    cursor: pointer;
    transition: box-shadow 0.2s;
    transform: scale(1);

    &:hover {
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    }

    &.large {
        padding: 20px 80px;
        font-size: 26px;
        border-radius: 15px;
    }

    &.medium {
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 18px;
    }

    &.small {
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 14px;
    }
}