.glass_wrapper {
    // background-color: rgba(255, 255, 255, 0.1);
    // box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.3), inset 0px 1px 2px rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);

    display: grid;
    place-items: center;
    border-radius: 10px;
    border: 1px solid #0003;
    color: #ffffff;
}