@use '@styles/mixins' as *;

.steps_started {
    display: grid;
    gap: 20px;
    width: 100%;
    font-size: 16px;
    color: #fff;

    p {
        display: block;

        >* {
            vertical-align: middle;
        }
    }

    .step_block {
        @include wrapperBlock;
        padding: 10px 20px;


        svg {
            width: 24px;
            height: 24px;
        }

        .link {
            display: inline-flex;
            align-items: center;
            gap: 5px;
            margin: 0 10px;
            font-size: 16px;

            svg {
                width: 15px;
                height: 15px;
            }

        }

        .google_button {
            display: inline-flex;
            align-items: center;
            gap: 3px;
            color: #e3e3e3;
            margin-right: 10px;
            font-size: 14px;

            font-family: 'GoogleSans';

            svg {
                width: 14px;
                height: 14px;
            }
        }
    }
}