.loader_zone {
    margin-top: 20px;
    border: 4px dashed #fff3;
    border-radius: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    transition: border 0.2s;

    &.error {
        border: 4px dashed rgba(255, 0, 0, 0.2);
    }

    &.opened {
        border: 4px dashed rgba(141, 247, 141, 0.4);
    }

    input {
        display: none;
    }
}