.container {
    display: grid;
    justify-items: start;
    gap: 20px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 40px;

    textarea {
        width: 100%;
        height: 500px;
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
        resize: none;
        outline: none;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 10px;
        color: #fff;
        background-color: transparent;
        border: 1px solid #0003;
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 500;

        &::selection {
            background-color: #0003;
        }
    }

}