@use '@styles/mixins' as *;

.process_schema {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: center;

    .process_wrapper {
        display: flex;
        gap: 30px;
        align-items: center;

        .mini_blocks {
            display: grid;
            gap: 20px;

            .mini_block {
                @include wrapperBlock;
                width: 80px;
                height: 50px;
                display: grid;
                place-items: center;
                border-radius: 3px;
            }
        }
    }

    .big_block {
        @include wrapperBlock;
        width: 300px;
        height: 300px;
        display: grid;
        place-items: center;
    }
}