@use '@styles/mixins' as *;

.container {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;

    .list {
        display: grid;
        gap: 20px;

        .item {
            @include wrapperBlock;
            display: flex;
            justify-content: space-between;
            padding: 20px;

        }
    }
}