.container {
    position: relative;
    overflow: hidden;
    height: 100vh;

    .ball {
        position: absolute;
        border-radius: 50%;
        transform: translate(0, 0) scale(1);
        z-index: -1;

        &_1 {
            width: 600px;
            height: 600px;
            left: 100px;
            top: -150px;
            background-color: #00ffff66;
            filter: blur(250px);
            animation: toRightAnimation 10s 2s infinite ease-in-out alternate;
        }

        &_2 {
            width: 1000px;
            height: 1000px;
            right: -100px;
            bottom: -150px;
            background-color: #ff00ff66;
            filter: blur(350px);
            animation: toLeftAnimation 10s 2s infinite ease-in-out alternate;
        }
    }

    .content {
        width: 1000px;
        margin: 0 auto;
        display: grid;
        gap: 120px;

        .title {
            font-size: 38px;
            font-weight: 500;
            text-align: center;
            margin-top: 40px;
            color: #0009;
        }

        .subtitle {
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            color: #0009;
        }

        .glass_blocks {
            display: flex;
            gap: 40px;
            justify-content: space-around;
            align-items: center;

            .glass_block {
                width: 300px;
                height: 300px;


                background-color: rgba(255, 255, 255, 0.1);
                box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.3), inset 0px 1px 2px rgba(255, 255, 255, 0.9);
                backdrop-filter: blur(5px);

                display: grid;
                place-items: center;
                border-radius: 10px;
                color: #ffffff;
            }

            .process_wrapper {
                display: flex;
                gap: 30px;
                align-items: center;

                .mini_glass_blocks {
                    display: grid;
                    gap: 20px;

                    .mini_glass_block {
                        display: grid;
                        place-items: center;
                        width: 80px;
                        height: 50px;
                        background-color: rgba(255, 255, 255, 0.1);
                        box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.3), inset 0px 1px 2px rgba(255, 255, 255, 0.9);
                        backdrop-filter: blur(5px);
                        border-radius: 3px;
                        font-size: 12px;
                        font-weight: 600;
                        color: #0009;
                    }
                }
            }
        }

        .startButton {
            background-color: rgba(255, 255, 255, 0.1);
            box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 4px rgba(255, 255, 255, 0.9);
            backdrop-filter: blur(5px);
            border: none;
            padding: 20px 80px;
            border-radius: 15px;
            font-size: 26px;
            font-weight: 600;
            font-family: "Montserrat";
            color: #0009;
            justify-self: center;
            cursor: pointer;
            transition: transform 0.2s;
            transform: scale(1);

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

@keyframes toRightAnimation {
    0% {
        transform: translateX(0) scale(1);
        width: 600px;
        height: 600px;
    }

    100% {
        transform: translateX(calc(100vw - 100%)) scale(1.2);
        width: 1000px;
        height: 1000px;
    }
}

@keyframes toLeftAnimation {
    0% {
        transform: translateX(0) scale(1);
    }

    100% {
        transform: translateX(calc(0% - (100vw - 100%))) scale(0.8);
    }
}